<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.example.spring.service.impl.BookServiceImpl" id="bookService" name="service,book" scope="prototype">
        <property name="bookDao" ref="bookDao" />
    </bean>
    <bean class="com.example.spring.dao.impl.BookDaoImpl" id="bookDao" />
</beans>
